body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
    background-color: #222; /* Màu nền dark */
    color: white; /* Màu chữ trắng */
}

.login {
    width: 300px;
    height: 300px;
    border: 1px solid #444; /* Viền dark */
    border-radius: 10px;
    text-align: center;
    background-color: #333; /* Màu nền dark cho phần login */
}


.login h2 {
    color: #2f801b;
    font-family: sans-serif;
}

.login input {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555; /* Viền dark cho input */
    padding-left: 20px;
    box-sizing: border-box;
    background-color: #444; /* Màu nền dark cho input */
    color: white; /* Màu chữ trắng */
}

.login button {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #287415; /* Màu nền dark cho button */
    color: antiquewhite;
    transition: background-color 0.3s;
}

.login button:hover {
    font-size: 18px;
    background-color: #15410d; /* Màu nền dark khi hover */
}


.admin{
    width: 600px;
    height: 500px;
    border: 1px solid #444; /* Viền dark */
    border-radius: 10px;
    text-align: center;
    background-color: #333;
}
.admin h2 {
    color: rgb(59, 155, 32);
    font-family: sans-serif;
    text-align:left;
}

.admin input {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555; /* Viền dark cho input */
    padding-left: 20px;
    box-sizing: border-box;
    background-color: #444; /* Màu nền dark cho input */
    color: white; /* Màu chữ trắng */
}
.admin button {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #287415; /* Màu nền dark cho button */
    color: antiquewhite;
    transition: background-color 0.3s;
}
.admin th{
    width: 40%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555; /* Viền dark cho input */
    padding-left: 20px;
    box-sizing: border-box;
    background-color: #444; /* Màu nền dark cho input */
    color: white;
}
.admin button:hover {
    font-size: 15px;
    background-color: #15410d; /* Màu nền dark khi hover */
}

.lecture{
    width: 80%;
    height: 50%;
    border: 1px solid #444; /* Viền dark */
    border-radius: 10px;
    text-align: center;
    background-color: #333;
}

.lecture table{
    border-collapse: collapse;
    width: 100%;
    color: #0f8f0f;
    font-family: monospace;
    font-size: 13px;
    text-align: center;

}



.lecture td{

    width: 5%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.lecture tr{

    width: 5%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.lecture h2 {
    color: antiquewhite;
    font-family: sans-serif;
    text-align:left;
}
.lecture button {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #287415; /* Màu nền dark cho button */
    color: antiquewhite;
    transition: background-color 0.3s;
}
.lecture button:hover {
    font-size: 15px;
    background-color: #15410d; /* Màu nền dark khi hover */

}