body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
    background-color: #222; /* Màu nền dark */
    color: white; /* Màu chữ trắng */
}

.login {
    width: 300px;
    height: 300px;
    border: 1px solid #444; /* Viền dark */
    border-radius: 10px;
    text-align: center;
    background-color: #333; /* Màu nền dark cho phần login */
}


.login h2 {
    color: #2f801b;
    font-family: sans-serif;
}

.login input {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555; /* Viền dark cho input */
    padding-left: 20px;
    box-sizing: border-box;
    background-color: #444; /* Màu nền dark cho input */
    color: white; /* Màu chữ trắng */
}

.login button {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #287415; /* Màu nền dark cho button */
    color: antiquewhite;
    transition: background-color 0.3s;
}

.login button:hover {
    font-size: 18px;
    background-color: #15410d; /* Màu nền dark khi hover */
}

.admin{
    width: 600px;
    height: 500px;
    border: 1px solid #444; /* Viền dark */
    border-radius: 10px;
    text-align: center;
    background-color: #333;
}


.admin h2 {
    color: rgb(255, 255, 130);
    font-family: sans-serif;
    text-align:left;
}
.admin h3 {
    color: rgb(255, 255, 130);
    font-family: sans-serif;
    text-align:center;
}

.admin form {
    margin-bottom: 30px;
}
.admin label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}








#uploadForm {
    display: flex;
    flex-direction: row; /* Đặt chiều sắp xếp thành hàng ngang */
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

#uploadForm .button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px; /* Có thể điều chỉnh khoảng cách giữa hai nút */
}

#uploadForm .custom-file-label {
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #fff871;
    color: #000000;
    margin-bottom: 10px;
    padding-top: 6%;
}
#uploadForm input[type="file"] {
    display:none;
}

#uploadForm input[type="submit"] {
    background-color: #fff871;
    color: #000000;
    border: 1px solid #000000;
}

.admin input {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555; /* Viền dark cho input */
    padding-left: 20px;
    box-sizing: border-box;
    background-color: #444; /* Màu nền dark cho input */
    color: white; /* Màu chữ trắng */
}

.admin input:hover {
    font-size: 15px;
    background-color: #30392e; /* Màu nền dark khi input */
}
.admin button {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #287415; /* Màu nền dark cho button */
    color: antiquewhite;
    transition: background-color 0.3s;
}
.admin th{
    width: 40%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555; /* Viền dark cho input */
    padding-left: 20px;
    box-sizing: border-box;
    background-color: #444; /* Màu nền dark cho input */
    color: #fff871;
}
.admin button:hover {
    font-size: 15px;
    background-color: #15410d; /* Màu nền dark khi hover */
}


.lecture{
    width: 100%;
    height: 80%;
    border: 10% solid #444; /* Viền dark */
    border-radius: 2%;
    text-align: center;
    background-color: #333;
    box-sizing: border-box;
}

.lecture table{
    border-collapse: collapse;
    width: 100%;
    height: 70%;
    color: #0f8f0f;
    font-family: monospace;
    font-size: 13px;
    text-align: center;

}

.border-container{
    border: 1px solid #444; /* Viền dark */
    border-radius: 10px;
    text-align: center;
    background-color: #333;

    width: 90%;
    height: 90%;
    background-color: #333;

}

.lecture #container{
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px; /* Thay đổi kích thước tùy thuộc vào nhu cầu của bạn */
  }

.lecture td{

    width: 5%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.lecture  #studentTable {
    width: 100%;
    height: 300px; /* Set your desired fixed height */
    display: block; /* Enable block-level display to constrain height */
}

.lecture #testing{

    width: 100%;
    height: 300px;
    overflow-y: auto;
    display: block;
}

.lecture tr{

    width: 5%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.lecture h2 {
    color: antiquewhite;
    font-family: sans-serif;
    text-align:left;
}
.lecture button {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #287415; /* Màu nền dark cho button */
    color: antiquewhite;
    transition: background-color 0.3s;
}
.lecture button:hover {
    font-size: 15px;
    background-color: #15410d; /* Màu nền dark khi hover */

}