body {
    font-family: Arial, sans-serif;
}

.login-container {
    text-align: center;
    margin-top: 100px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.content-container {
    text-align: center;
    margin-top: 20px;
}
